@font-face {
  font-family: 'Vazirmatn';
  src: url('Fonts/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('Fonts/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
       url('Fonts/fonts/variable/Vazirmatn[wght].ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  cursor:crosshair;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
body {  
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #000;
  line-height: normal;
  max-width: 960px;
  margin: auto;
  padding: 20vmin 2vmin 0 2vmin;
  text-align: center;
}

.hdr {
  margin-bottom: 30vmin;
}

.hdr h1 {
  font-size: 8vmin;
  font-weight: 400;
  line-height: 2vmin;
  transition: all 2s;
}

.hdr h1:hover {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4169E1, 0 0 30px #4169E1, 0 0 40px #4169E1, 0 0 55px #4169E1, 0 0 75px #4169E1;
}

.hdr span {
  font-size: 4.7vmin;
  font-weight: 200;
  transition: all 2s;
  background: #4169E1;
    background: -webkit-linear-gradient(to bottom left, #4169E1 25%, #9244E1 100%);
    background: -moz-linear-gradient(to bottom left, #4169E1 25%, #9244E1 100%);
    background: linear-gradient(to bottom left, #4169E1 25%, #9244E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scd {
  direction: rtl;
  display: grid;
  grid-template-columns: 50% 25%;
  gap: 25%;
  align-items: center;
}

.scd h3 {
  font-size: 5vmin;
  font-weight: 100;
  text-align: right;
}


.scd span {
  display: inline-block;
  background-color: #000;
  border: #4169E1 solid 1px;
  border-radius: 2vmin;
  padding: 0.5vmin 2vmin;
  color: #FFF;
  font-size: 3vmin;
  font-family: inherit;
  transition: all 1s;
}

.scd span:hover {
  border: #9244E1 1px solid;
  -webkit-box-shadow: 5px 5px 25px 0px #9244E1, -5px -5px 25px 0px #4169E1;
  box-shadow: 5px 5px 25px 0px #9244E1, -5px -5px 25px 0px #4169E1;
  cursor: pointer;
}

.grid {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 1%; 
  direction: rtl;
}

.item {
  margin: 2vmin 0;
}

.item:hover {
  cursor: cell;
}

.dsc {
  text-align: center;
}

.dsc h2 {
  font-size: 5vmin;
  font-weight: 200;
  line-height: 2vmin;
}

.dsc span {
  font-weight: 100;
  font-size: 3vmin;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 3vmin;
}

.mtp {
  margin-top: 40vmin;
  height: 100vh;
  background-image:url(logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 35vh 2vmin;
  font-size: 4vmin;
}

.mtp h3 {
  vertical-align: middle;
  font-weight: 100;
}


@media (min-width: 480px) {
  
  .hdr {
    margin-bottom: 250px;
  }
  
  .hdr h1 {
    font-size: 50px;
    line-height: 10px;
  }

  .hdr span {
    font-size: 29px;
  }
  
  .scd h3 {
    font-size: 24px;
  }
  
  .scd span {
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 20px;

  }

  .grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    gap: 30px 30px; 
  }

  .item {
    margin: 25px 0;
  }

  .dsc {
    text-align: right;
  }
  
.dsc h2 {
  font-size: 24px;
  line-height: 25px;
}

.dsc span {
  font-size: 15px;
}

.pic img {
  border-radius: 20px;
}

.mtp {
  margin-top: 250px;
  font-size: 38px;
  line-height: 1px;
}



}