/* Imports */
@font-face {
    font-family: 'Vazirmatn';
    src: url('Fonts/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
         url('Fonts/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
         url('Fonts/fonts/variable/Vazirmatn[wght].ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 100px;
    height: 100px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4169e1;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #000000;
  }
  ::-webkit-scrollbar-track:active {
    background: #000000;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  /* General Styling */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}
body {  
    font-family: "Vazirmatn", sans-serif;
    font-size: 5vw;
    font-display: swap;
    font-variation-settings: "wght" 900;
    color: #fff;
    background-color: #000;
}
h1 {
line-height: normal;
 }
/* Class */
.center {
    text-align: center;
  }
.bg1 {
        background-image: url(svg/bg1.svg);
    background-size:200vh;
    background-repeat:no-repeat;
    background-position: top;
}
.bg2 {
    background-image: url(svg/bg2.svg);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}
.mt2vw {
margin-top: 2vmin;
}
.mt20vmin {
    margin-top: 20vmin;
    }
.mt30vmin {
    margin-top: 30vmin;
    }
.div {
    width: 80vmin;
    margin: auto;
    margin-top: 2vmin;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.btntop {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    width: 80vw;
    font-size: 4vw;
    font-variation-settings: "wght" 500;    
    display: grid;
    grid-template-columns: 40% 15% 15%;
    gap: 1vw;
    justify-content: center;
}

.btntopd {
    height: 12vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vh;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: #fff;
    transition: background-color 0.5s, border 0.5s;

}

.btntopd:hover {
    border: 1px #4169E1 solid;
    background-color: rgba(64, 104, 224, 0.151);
    backdrop-filter: blur(25px);
    color: #fff;
}
.tag {
    background: #4169E1;
    background: -webkit-linear-gradient(to bottom left, #4169E1 25%, #9244E1 100%);
    background: -moz-linear-gradient(to bottom left, #4169E1 25%, #9244E1 100%);
    background: linear-gradient(to bottom left, #4169E1 25%, #9244E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variation-settings: "wght" 350;
    font-size: 6.4vw;
    transition: all 1s;
}

.tag:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4169E1, 0 0 30px #4169E1, 0 0 40px #4169E1, 0 0 55px #4169E1, 0 0 75px #4169E1;}

.name{
    color: #FFF;
    transition: all 1s;
}
.name:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4169E1, 0 0 30px #4169E1, 0 0 40px #4169E1, 0 0 55px #4169E1, 0 0 75px #4169E1;
}

.works {
    display: grid;
    grid-template-columns: 120px 80vmin;
    grid-template-rows: 40vmin;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
 
.mframe {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 25px;
    backdrop-filter: blur(100px);
}

.tframe {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 25px;
    backdrop-filter: blur(100px);
}


  

/* ID */
#logo-bg {
    background-image: url(svg/square-neon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
}
#logo {
    background-image: url(logo.svg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
}

 #erpa {
    background-color: #fff;
    color: #000;
    transition: -webkit-box-shadow 1s, box-shadow 1s, border 1s;
 }
 #erpa:hover {
    -webkit-box-shadow: 5px 5px 25px 0px #9244E1, -5px -5px 25px 0px #4169E1;
    box-shadow: 5px 5px 25px 0px #9244E1, -5px -5px 25px 0px #4169E1;
}
 
